/* 이미지 롤링 애니메이션 */
@keyframes rolling {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-3100px); /* 기존 높이 + marginBottom */
    }
}

@keyframes rolling-reverse {
    0% {
        transform: translateY(-3100px); /* 기존 높이 + marginBottom */
    }
    100% {
        transform: translateY(0);
    }
}

/* 이미지 올라가기 애니메이션 */
@keyframes slideUp {
    0% {
        transform: translateY(100vh); /* 화면 맨 아래에서 시작 */
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh); /* 화면 위로 나가서 사라짐 */
        opacity: 1;
    }
}

.overflow-hidden {
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.top-1px {
  top: 1px;
}

.top-20px {
  top: 20px;
}

.top-22px {
  top: 22px;
}

.top-100px {
  top: 100px;
}

.top-250px {
  top: 250px;
}

.top-420px {
  top: 420px;
}

.top-450px {
  top: 450px;
}

.top-615px {
  top: 615px;
}

.top-minus-80px {
  top: -80px;
}

.bottom-20px {
  bottom: 20px;
}

.bottom-40px {
  bottom: 40px;
}

.bottom-80px {
  bottom: 80px;
}

.bottom-140px {
  bottom: 140px;
}

.left-0 {
  left: 0;
}

.left-20px {
  left: 20px;
}

.left-27px {
  left: 27px;
}

.left-76px {
    left: 76px;
}

.left-80px {
    left: 80px;
}

.left-29-percent {
    left: 29%;
}

.left-50-percent {
    left: 50%;
}

.left-80-percent {
    left: 80%;
}

.right-0 {
    right: 0;
}

.right-60px {
    right: 60px;
}

.right-20-percent {
    right: 20%;
}

.width-75px {
    width: 75px;
}

.width-136px {
    width: 136px;
}

.width-150px {
    width: 150px;
}

.width-171px {
    width: 171px;
}

.width-180px {
    width: 180px;
}

.width-200px {
    width: 200px;
}

.width-238px {
    width: 238px;
}

.width-246px {
    width: 246px;
}

.width-250px {
    width: 250px;
}

.width-327px {
    width: 327px;
}

.width-338px {
    width: 338px;
}

.width-735px {
    width: 735px;
}

.width-full {
    width: 100%;
}

.width-200-percent {
    width: 200%;
}

.width-vw-100 {
  width: 100vw;
}

.width-auto {
    width: auto;
}

.max-width-800px {
    max-width: 800px;
}

.height-45px {
    height: 45px;
}

.height-60px {
    height: 60px;
}

.height-75px {
    height: 75px;
}

.height-78px {
    height: 78px;
}

.height-80px {
    height: 80px;
}

.height-150px {
    height: 150px;
}

.height-250px {
    height: 250px;
}

.height-528px {
    height: 528px;
}

.height-552px {
    height: 552px;
}

.height-5850px {
    height: 5850px;
}

.height-6050px {
    height: 6050px;
}

.height-50-percent {
    height: 50%;
}

.height-full {
    height: 100%;
}

.height-vh-100 {
  height: 100vh;
}

.height-auto {
    height: auto;
}

.z-index-minus-1 {
  z-index: -1;
}

.z-index-1 {
  z-index: 1;
}

.z-index-100 {
  z-index: 100;
}

.z-index-150 {
  z-index: 150;
}

.z-index-170 {
  z-index: 170;
}

.z-index-200 {
  z-index: 200;
}

.overflow-hidden {
  overflow: hidden;
}

.margin-0 {
    margin: 0;
}

.margin-20px {
    margin: 20px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-top-50px {
    margin-top: 50px;
}

.margin-top-100px {
    margin-top: 100px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.margin-bottom-40px {
    margin-bottom: 40px;
}

.margin-bottom-50px {
    margin-bottom: 50px;
}

.margin-right-86px {
    margin-right: 86px;
}

.margin-left-86px {
    margin-left: 86px;
}

.padding-top-22px {
    padding-top: 22px;
}

.padding-top-30px {
    padding-top: 30px;
}

.padding-top-36px {
    padding-top: 36px;
}

.padding-right-30px {
    padding-right: 30px;
}

.padding-left-27px {
    padding-left: 27px;
}

.padding-left-66px {
    padding-left: 66px;
}

.point-none {
    pointer-events: none;
}

.point-auto {
    pointer-events: auto;
}

.color-black {
    color: #000;
}

.color-white {
    color: #fff;
}

.color-D2D5DC {
    color: #D2D5DC;
}

.color-020E2E {
    color: #020E2E;
}

.text-center {
    text-align: center;
}

.font-size-3rem {
    font-size: 3rem;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-32px {
    font-size: 32px;
}

.font-size-55px {
    font-size: 55px;
}

.font-size-64px {
    font-size: 64px;
}

.font-size-110px {
    font-size: 110px;
}

.line-height-normal {
    line-height: normal;
}

.letter-spacing-4px {
    letter-spacing: 4.4px;
}

.webkit-text-stroke-width-3px {
    -webkit-text-stroke-width: 3px;
}

.webkit-text-stroke-color-4E {
    -webkit-text-stroke-color: #4E4E4E;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.items-center {
    align-items: center;
}

.gap-1rem {
    gap: 1rem;
}

.gap-8px {
    gap: 8px;
}

.gap-55px {
    gap: 55px;
}

.cursor-pointer {
    cursor: pointer;
}

.rounded-10px {
    border-radius: 10px;
}

.rounded-12px {
    border-radius: 12px;
}

.rounded-20px {
    border-radius: 20px;
}

.bg-none {
    background: none;
}

.bg-white {
    background-color: #fff;
}

.bg-080E1C {
    background-color: #080E1C;
}

.bg-FFF275 {
    background-color: #FFF275;
}

.bg-black-05 {
    background-color: rgba(0, 0, 0, 0.5);
}

.border-none {
    border: none;
}

.border-2px-solid-black {
    border: 2px solid #000;
}

.border-3px-solid-020E2E {
    border: 3px solid #020E2E;
}

.border-3px-solid-black {
    border: 3px solid #000;
}

.animation-rolling-linear-infinite {
    animation: rolling 45s linear infinite;
}

.animation-rolling-reverse-linear-infinite {
    animation: rolling-reverse 45s linear infinite;
}

.transform-x-minus-15-percent {
    transform: translateX(-15%);
}

.transform-x-minus-50-percent {
    transform: translateX(-50%);
}

.transform-rotate-20deg {
    transform: rotate(20.016deg);
}

.transform-rotate-minus-12deg {
    transform: rotate(-12.73deg);
}

.transform-rotate-30deg-translate-y-minus-20px {
    transform: rotate(30deg) translateY(-20px);
}

.transform-rotate-30deg-translate-y-minus-40px {
    transform: rotate(30deg) translateY(-40px);
}

.transform-rotate-30deg-translate-y-minus-60px {
    transform: rotate(30deg) translateY(-60px);
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.boxshadow-0-4-8-rgba-0-0-0-0-2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}