.stack_letter {
    font-family: Pretendard-Bold, sans-serif;
    font-size: 37px;
    position: relative;
    top: -30px;
    margin-left: 20px;
}
video {
    width: 350px !important;
    height: 479px !important;
    margin-bottom: 20px;
    margin-left: 400px;
}
.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 9999;
}

.flash.active {
    opacity: 1;
}

.imoticon {
    width: 280px;
    position: relative;
    top: 100px;
    left: 170px;
}

.PictureCompletedPage_imoticon {
    width: 280px;
    position: absolute;
    top: 40px;
    left: 510px;
}

.stack_logo {
    margin-left: 20px;
    margin-top: 20px;
    width: 134px;

}


.camera-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



}

/* 상단 로고와 텍스트 스타일 */
.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}



.developer-text {
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 18px;
}

.title {
    font-size: 24px;
    margin-top: 10px;
}


.camera-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 200px;
    width: 261px;
    height: 75px;

}

.camera-start-button {
    margin-right: 50px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    width: 261px;
    height: 75px;

}
.camera-button {

    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    position: absolute;
    right: 200px;
    transition: all 0.3s ease;
    width: 261px;
    height: 75px;
}

.camera-button-right {
    right: 300px;
    transform: translateX(0);
}
.next-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    width: 150px;
    height: 68px;
}
.chickpeas-icon {
    position: absolute;
    bottom: 10px;
    left: -20px;
    width: 24px;
    height: 24px;
    margin-right: 28px;

}



.camera-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.arrow-right {
    width: 30px;
    height: 30px;

}

.photo-number-indicator {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    color: black;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8); /* 약간의 배경 */
    padding: 10px 15px;
    border-radius: 8px;
}
.countdown {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 100px; /* 글자 크기 */
    font-weight: bold;
    color: black;
    z-index: 1000;
    pointer-events: none;
}



.photo-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 300px;
}

.photo {
    width: 175px;
    height: 175px;
    background-color: white;
    border: 1px solid black;
}
